<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">
          About
        </h4>
      </div>
      <div class="modal-body">
         Symath is an engineering calculation solution, it used by engineers and scientists in various disciplines – most often those of mechanical, chemical, electrical, and civil engineering. Symath is oriented around a worksheet, in which equations and expressions are created and manipulated in the same graphical format in which they are presented.
         The Symath interface allows users to combine a variety of different elements into the form of a worksheet, which is naturally readable. Because the mathematics are core to the program, the math is inherently live, dynamically recalculating as value upstream are altered. This allows for simple manipulation of input variables, assumptions, and expressions.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>