<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title" ng-bind="title"></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="list-group">
              <a href="#" class="list-group-item" ng-class="{'active': current == item.index}" ng-repeat="item in items" ng-click="show(item.index)">{{item.title}}</a>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="well">
              <p ng-repeat="item in content">
                <a ng-if="item.clickable" href="#" ng-bind="item.text" ng-click="loadCookbookExpression(item.value)"></a>
                <span ng-if="!item.clickable" ng-bind="item.text"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>