<div class="container">
  <h2>Documentation</h2>
  <accordion close-others="true">
    <accordion-group is-open="true">
        <accordion-heading>
            Question
        </accordion-heading>
        Answer
    </accordion-group>
    <accordion-group is-open="false">
        <accordion-heading>
            Question
        </accordion-heading>
        Answer
    </accordion-group>
    <accordion-group is-open="false">
        <accordion-heading>
            Question
        </accordion-heading>
        Answer
    </accordion-group>
    <accordion-group is-open="false">
        <accordion-heading>
            Question
        </accordion-heading>
        Answer
    </accordion-group>
  </accordion>
  <hr>
  <footer>
    <p>© SyMath 2014</p>
  </footer>
</div>