.ac-custom input[type="checkbox"],
.ac-custom input[type="radio"] {
  display: inline-block;
  width: 21px;
  height: 21px;
  opacity: 0;
  -webkit-appearance: none;
  vertical-align: middle;
  z-index: 100;
  margin-left: -21px;
  margin-top: 0px;
  position: absolute;
  cursor: pointer;
}
.ac-custom li::before {
  width: 21px;
  height: 21px;
  margin-top: -10px;
  display: block;
  cursor: pointer;
  position: absolute;
  float: left;
}

.ac-custom li::before {
  content: '';
  border: 2px solid rgb(60, 60, 60);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.ac-radio li::before {
  border-radius: 50%;
  margin-top: 0px;
}

.ac-radio label {
  margin-bottom: 0px;
  font-weight: normal;
  padding-left: 10px;
  cursor: pointer;
}

.ac-radio ul {
  padding-left: 5px;
}
.ac-radio li {
  list-style: none;
  padding: 5px;
}

.ac-custom input[type="checkbox"]:checked + label,
.ac-custom input[type="radio"]:checked + label {
  color: #0088CC
  cursor: pointer !important;
} 

.ac-custom input[type="checkbox"]:checked + label::before,
.ac-custom input[type="radio"]:checked + label::before {
  opacity: 0.8;
}

.ac-custom svg {
  width: 19px;
  height: 19px;
  margin-top: 1px;
  margin-left: 2px;
  pointer-events: none;
  float: left;
}

.ac-custom svg path {
  stroke: #0088CC;
  stroke-width: 11px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.my-container {
  margin-left: 75px;
  margin-right: 12px;
}

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

.modal {
  overflow-x: auto;
  overflow-y: auto;
  &.center {
    .modal-dialog {
      position: fixed;
    }
  }
}

ul.left-menu {
  width: 63px;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  list-style-type: none;
  background: #f7f7f7;
  z-index: 1;
  padding: 0px;
  margin: 0px;
  box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26);
}

ul.left-menu li {
  padding: 0px;
  margin: 0px;
  list-style: none;
  left: 0px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

ul.left-menu li:first-child span {
  display: block;
  background-image: url(../images/logo.png);
  width: 57px;
  height: 57px;
  margin-left: 3px;
}

ul.left-menu li:first-child {
  background-color: #0088CC;
}

ul.left-menu li a {
  color: #555555;
  font-size: 43px;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

ul.left-menu li.important a {
  color: #5CB85C;
}

ul.left-menu li:not(:first-child):hover {
  background: #0088CC;
}

ul.left-menu li:not(:first-child):hover a {
  color: #FFFFFF;
}


ul.left-menu li.important:not(:first-child):hover {
  background: #5CB85C;
}

.my-container .input-row {
  display: flex;
  justify-content: space-between;
}

.my-container .input-text {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0px 25px;
  padding-right: 13px;
}

.my-container .input-mode {
  flex-grow: 0;
  flex-shrink: 0;
  width: 180px;
  padding: 0px 25px;
  padding-left: 12px;
}

.input-text .form-control {
  resize: vertical;
  max-height: 350px;
}