.ac-custom input[type="checkbox"],
.ac-custom input[type="radio"],
.ac-custom label::before {
  width: 21px;
  height: 21px;
  left: 0;
  margin-top: -10px;
  position: absolute;
  cursor: pointer;
}

.ac-custom input[type="checkbox"],
.ac-custom input[type="radio"] {
  opacity: 0;
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  z-index: 100;
}

.ac-custom label::before {
  content: '';
  border: 2px solid rgb(60, 60, 60);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.ac-radio label::before {
  border-radius: 50%;
  margin-top: 0px;
}

.ac-radio label {
  margin-bottom: 0px;
  font-weight: normal;
  margin-left: -20px;
  cursor: pointer;
}

.ac-radio li {
  list-style: none;
  padding: 5px;
}

.ac-custom input[type="checkbox"]:checked + label,
.ac-custom input[type="radio"]:checked + label {
  color: #0088CC
  cursor: pointer !important;
} 

.ac-custom input[type="checkbox"]:checked + label::before,
.ac-custom input[type="radio"]:checked + label::before {
  opacity: 0.8;
}

.ac-custom svg {
  position: absolute;
  width: 19px;
  height: 19px;
  margin-top: 1px;
  left: 1px;
  pointer-events: none;
}

.ac-custom svg path {
  stroke: #0088CC;
  stroke-width: 11px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.ac-circle svg {
  width: 21px;
  height: 21px;
  margin-top: -3px;
  left: 1px;
}

.ac-circle svg path {
  stroke-width: 2px;
} 

.ac-boxfill svg path {
  stroke-width: 2px;
} 

.ac-swirl svg path {
  stroke-width: 2px;
}

.ac-list svg path {
  stroke-width: 2px;
}

span.symath-logo {
  display: block;
  background-image: url(../images/logo.png);
  width: 96px;
  height: 96px;
}

span.symath-logo:hover {
  background-color: #0088CC;
}

.my-container {
  margin-top: 96px;
}

.my-line {
  
}

.my-menu li {
  margin-top: 10px;
}

.my-menu li:not(:first-child) {
  border-left: 1px solid rgba(43, 43, 43, .25);
}

.my-menu li a span {
  font-size: 43px;
  padding-top: 25px;
}

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

.modal {
  overflow-x: none;
  overflow-y: auto;
  &.center {
    .modal-dialog {
      position: fixed;
      /*top: 40%;
      left: 50%;
      min-width: 100px;
      width: 50%;
      transform: translateX(-50%) translateY(-50%);*/
    }
  }
}
/*.my-menu {
  position: fixed;
  left: 0px;
  top: 96px;
  list-style: none;
  width: 50px;
  margin: 0px;
  padding: 0px;
}

.my-menu li {
  width: 50px;
  height: 50px;
}

.my-menu li a {
  width: 50px;
  height: 50px;
  text-align: center;
}*/