<!DOCTYPE html>
<html lang="en" ng-app="symathApp">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>SyMath App</title>
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="css/symath-icon.css" />
    <link rel="stylesheet" type="text/css" href="css/ng-animation.css" />
    <link rel="stylesheet" type="text/css" href="css/hint.css" />
    <link rel="stylesheet" type="text/css" href="css/app.css" />
    
    <script type="text/javascript" src="js/browser-middleware.js"></script>
    <script type="text/javascript" src="lib/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="lib/angular/angular-animate.min.js"></script>
    <script type="text/javascript" src="lib/angular-strap.min.js"></script>
    <script type="text/javascript" src="lib/angular-strap.tpl.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script type="text/javascript" src="lib/mousetrap.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>
    <script type="text/javascript" src="js/filters.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="lib/MathJax/MathJax.js">
      MathJax.Hub.Config({
        config: ["TeX-AMS-MML_SVG.js"],
        jax: ["input/TeX", "output/SVG"],
        showMathMenu: false,
        extensions: ["tex2jax.js"],
        
        SVG: {
          font: "Asana-Math"
        }
      });
    </script>
  </head>
  <body ng-controller="indexCtrl">

    <ul class="left-menu">
      <li><span></span></li>
      <li ng-click="calculate()" class="important">
        <a href="#" class="hint--right" data-hint="Calculate (Ctrl+E / =)">
          <span class="icon-equals"></span>
        </a>
      </li>
      <li ng-click="save()">
        <a href="#" class="hint--right" data-hint="Save (Ctrl+S)">
          <span class="icon-save"></span>
        </a>
      </li>
      <li ng-click="clear()">
        <a href="#" class="hint--right" data-hint="Clear (Ctrl+R)">
          <span class="icon-eraser"></span>
        </a>
      </li>
      <li ng-click="docs()">
        <a href="#" class="hint--right" data-hint="Cookbook (Ctrl+H / F1)">
          <span class="icon-book3"></span>
        </a>
      </li>
      <li ng-click="about()">
        <a href="#" class="hint--right" data-hint="About (Ctrl+I)">
          <span class="icon-info-large"></span>
        </a>
      </li>
    </ul>

    <div class="my-container">
      <div class="input-row">
        <div class="input-text">
          <h3 class="text-muted">Input</h3>
          <textarea class="form-control" rows="3" ng-model="inputExpr" app-symath-input></textarea>
        </div>
        <div class="input-mode">
          <form class="ac-custom ac-radio ac-fill" autocomplete="off">
            <h3 class="text-muted">Mode</h3>
            <ul>
              <li>
                <input id="r2" name="r1" type="radio">
                <label for="r2">factorized</label>
              </li>
              <li>
                <input id="r3" name="r1" type="radio">
                <label for="r3">expanced</label>
              </li>
            </ul>
          </form>
        </div>
      </div>
      
      <div class="ng-hide" ng-show="errorMsg">
        <h3 class="text-danger">Error</h3>
        <div class="alert alert-danger">
          <p ng-bind="errorMsg[0]"></p>
          <p ng-show="errorMsg.length == 2" ng-bind-html="errorMsg[1]"></p>
        </div>
      </div>
      
      <div class="ng-hide" ng-show="showOutputTeX && outputTeX">
        <h3 class="text-success">Output</h3>
        <div class="well well-sm" ng-bind="outputTeX"></div>
      </div>
      
    </div>
  </body>
  
  <script type="text/javascript" src="lib/svgcheckbx.js"></script>
</html>